# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
.env.local

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node
backups/
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# Autres
.DS_Store